@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

.button {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.button.primary {
  background: #246aec;
  border: 2px solid #11377c;
}

.button.primary:hover {
  background-color: #154294;
  color: white;
}

.button.secondary {
  background-color: yellow;
  border: 2px solid rgb(107, 107, 48);
}

.button.secondary:hover {
  background-color: rgb(121, 121, 46);
  color: white;
}

.tabber {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 5px 10px;
}

.tab-content {
  display: none;
}
.tab-content.selected {
  display: flex;
  flex-wrap: wrap;
}

.tabs {
  display: flex;
  background-color: grey;
}
.tabs > .tab {
  /* margin: 5px; */
  padding: 10px 20px;
  cursor: pointer;
}
.tabs > .tab:hover,
.tabs > .tab.selected {
  background-color: white;
}

.card {
  margin: 10px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border: 2px solid gray;
  border-radius: 10px;
  overflow: hidden;
}
.card-head-image {
  display: flex;
}
.card-head-image img {
  height: 130px;
  flex: 1;
  object-fit: cover;
}
.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 5px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card.hide {
  display: none;
}

.view {
  display: none;
}
.view.selected {
  display: block;
}
.content{
  background-image: url(https://lh3.googleusercontent.com/Ur6fXlpUc5pfeiM2xbG22gI-W4lg_KBbOskACgG3j2Y2taBAGNrC6RDHxsGZ5ujPEN_c4lq8CmHYq5QiFusEVRmwDXKjsUb0o9l_F7PeoIPJ30ZJe2G2d9_02mfBnChbWAvMaebS3Ts_cWdgg__aY7yKjeWN243_khPHQYrmiX8hEXQ82q_-zFGSJUE71nMqPiTHIxLDH-Y1QygFwZTPM_oJCoF2JcHvLHDk6-CTrWEwa8ItIWJ3YtPWm7B9Sp-6hFH6d6Q7mz9-8jkS7DAV-dinskeXzkiWvOc8Caih-c0aeXNI6-pTH2hH-_U3GccR_m54DaSaOENxSV3mf_K0G5zc9L3X4CLMM2COTemCjgno2YG1PAbUhJINaPgbPBaQoZwRujViIXuWWOekSmFyZsTzsqzDaldunkBQk3tfy2YWoxg_Q-_A9e6aUk2Aec1OFnLF-Xg227gw43uyNUTHrtNkuSPwBfSfEYwnnfj9qQjrsj1J_Cxo_8269R8mGlD-OtIy7akoeHItET-uZf1zq67GOLvCnzTZqAxC6tGCVbR9mDJnR18BS8CQCXt16jVlmv8O7Wjja2bnGnrCo4-bJmiocJ2dLD9kzh_4nRY8G9wlK_9aG_x9ud5RveRSu-EwqDJjzqo0pWoP-iNC1514wUF9iiyRscO1OJ5VlnDAUKr_3OXmnfpr5QN5ACk-xOpbGPSehi98TiUVYVLEZZA11NwR=w1567-h881-no?authuser=0);
  background-repeat: no-repeat;
  background-size: cover;
}

